<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/styles.css">
    <title>Schedulo</title>
</head>
<body>
<%- include('../structures/header') %>
    <h1>Modification du compte</h1>
    <form name="accountModification" action="/account/editInfos" method="POST">
        <table>
            <tbody>
            <tr><td><label for="email">Entrez l'adresse mail</label></td>
                <td><input name="email" value="<%= locals.user.email%>" /></td>
                <td><label><%= locals.messageEmail || '' %></label></td></tr>
            <tr><td><label for="name">Entrez le prénom</label></td>
                <td><input name="name" value="<%= locals.user.name%>" /></td>
            <tr><td><label for="surname">Entrez le nom</label></td>
                <td><input name="surname" value="<%= locals.user.surname%>" /></td></tr>
            </tbody>
        </table>
        <div><input type="submit" class="button"/></div>
    </form>
<%- include('../structures/footer') %>
</body>
</html>